<form action="/login" method="post">
    <div class="form-grup">
        <input type="text" class="form-control" placeholder="Usuario" name="user">
    </div>
    <div class="form-grup">
        <input type="password" class="form-control" placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>