.inputs {
    padding-top: 10px;
    font-size: 14px;
    font-family: 'Sarabun', sans-serif;
}

.placeholder {
    font-size: 14px;
    font-family: 'Sarabun', sans-serif;
}

.span {
    padding-left: 3px;
    padding-top: 2px;
    color: #ff1212;
}