.body {
    background-color: #f1eeee;
    padding: 25px 50px 10px 50px;
    border-radius: 0.25rem;
    margin: 0;
}

.input {
    font-size: 14px;
}

.span {
    padding-left: 1px;
    padding-top: 2px;
    color: #e70000;
}

.rowBoton {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.boton {
    background-color: #2c2c2c;
    color: #fff;
    width: auto;
    font-size: 14px;
    padding-right: 20px;
}

.boton i {
    padding-right: 5%;
}

.boton:hover,
.boton:focus,
.boton:active {
    background-color: #2c2c2c !important;
}

@media screen and (max-width: 768px) {
    .rowBoton {
        padding: 0 4px 0 4px;
    }

    .boton {
        margin: 10px 0 20px 0;
        width: 100%;
    }

    .span {
        padding-bottom: 10px;
    }
}