.input-editar-pedido {
    margin-bottom: 2%;
}

.box-inputs-editar-pedido{
    margin: 3%;
}

.titulo-modal-editar-pedido {
    margin-left: 5.2%;
}

.boton-modal-editar-pedido {
    margin-right: 6%;
}