.titulo-lista-pedidos {
    text-align: center;
    color: white;
    padding: 0.75rem 1.25rem;
    background-color: #2c2c2c;
}

.pedido {
    text-align: center;
    padding: 0.75rem 1.25rem;
    border-top-width: thin !important;
}

.lista-de-pedidos {
    display: flex;
    padding-top: 1%;
    margin-bottom: 5%;
}

.boton-lista-pedidos {
    color: #fff;
    background-color: #2c2c2c;
}

.box-boton-anterior {
    text-align: left;
}

.box-boton-siguiente {
    text-align: right;
}

.box-numero-pagina {
    padding-top: 0.4%;
}

.item-importe{
    border-bottom: hidden;
}