.header {
    display: block;
    text-align: center;
    background-color: #e7e4e4;
}

.body {
    margin: 0 10px 0 10px;
    text-align: center;
}

.pregunta {
    display: block;
}

.boton {
    font-size: 15px;
    font-family: 'Sarabun', sans-serif;
}

.footer {
    display: block;
    text-align: center;
}