.cuerpo-principal {
    font-size: 15px;
    font-family: 'Sarabun', sans-serif;
    padding-left: 15%;
    padding-right: 15%;
}

.btn-dark:focus {
    box-shadow: inherit;
}

.btn-dark:active:focus, .show>.btn-dark.dropdown-toggle:focus {
    box-shadow: inherit;
}

.form-control:focus{
    border-color: #ced4da;
    box-shadow: 0 0 0 0.25rem rgb(204 206 209 / 25%);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}