.body {
   --bs-gutter-x: 0.7rem;
   margin-bottom: 5%;
}

.modulo {
   margin-bottom: 10px;
   padding: 2%;
   height: 350px;
   border-color: white;
   background-color: #f1eeee;
}

.bodyCard {
   text-align: center;
   font-size: 200px;
   color: #2c2c2c;
}

.bodyCard:hover {
   cursor: pointer;
   color: #181818;
   background-color: #ede8e8;
}