.header {
    display: block;
    text-align: center;
}

.boxInputs {
    font-size: 14px;
    margin: 3%;
}

.input {
    margin-bottom: 2%;
}

.placeholder {
    font-size: 14px;
    font-family: 'Sarabun', sans-serif;
}

.editarFechaEntrega {
    color: #7a7a7a;
    font-size: 14px;
    font-family: 'Sarabun', sans-serif;
}

.boton {
    font-size: 14px;
    font-family: 'Sarabun', sans-serif;
}

.botonConfirmar {
    margin-right: 6%;
    font-size: 14px;
    font-family: 'Sarabun', sans-serif;
}