.nav {
    padding-top: 2%;
}

.navLink {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 14px;
    color: black;
    text-decoration: none;
    transition: inherit;
}

.navLink:hover {
    color: black;
    text-decoration: none;
}