.box {
    padding: 0 25px 10px 25px;
}

.header {
    display: block;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: #2c2c2c;
    border-radius: 0.25rem ;
    padding: 8px;
}

.body {
    padding: 10px;
    margin-top: 8px;
    background-color: #f1eeee;
    border-radius: 0.25rem ;
}

.card {
    text-align: center;
}

.card:first-child{
    margin-right: 5px;
}

.card:last-child{
    margin-left: 5px;
}

.valor {
    font-weight: bold;
    font-size: 32px;
}