.contenedor {
    display: flex;
    flex-direction: row;
    background-color: #f1eeee;
    padding: 30px 100px 30px 140px;
    border-radius: 0.25rem;
    margin: 0;
}

.input {
    flex: 0 0 auto;
    width: 75%;
}

.texto {
    font-size: 14px;
}

.boton {
    flex: 0 0 auto;
    width: auto;
    padding-top: 1px;
}

.dropdownToggle {
    padding: 5px 15px 5px 15px;
    background-color: #2c2c2c;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.dropdownToggle::after {
    margin-left: 15px;
    vertical-align: baseline;
    padding-bottom: 2.5px;
}

.dropdownMenu {
    text-align: center;
    font-size: 14px;
}

.dropdownMenuItem:active {
    background-color: #2c2c2c !important;
}

@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        padding: 30px 20px 30px 20px;
    }

    .input {
        width: 100%;
        padding: 0 0 10px 0;
        margin: 0;
    }

    .boton {
        width: auto;
        padding: 0 14px 0 14px;
        margin: 0;
    }
}