.tabla {
    padding-top: 1%;
    margin-bottom: 5%;
}

.encabezado {
    background-color: #2c2c2c;
    color: white;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    border-radius: 0.25rem !important;
    margin-bottom: 5px;
    border: 0;
}

.filaPaginado {
    text-align: center;
    padding: 0.50rem 1.25rem;
    background-color: #f1eeee;
    border-radius: 0.25rem !important;
    margin-top: 1px;
    border: 0;
}

.boxBotonAnterior {
    text-align: left;
    padding-left: 0.4%;
}

.boxBotonSiguiente {
    text-align: right;
    padding-right: 0.4%;
}

.boxNumeroPagina {
    padding-top: 0.4%;
}

.boton {
    padding-top: 0.5%;
    padding-bottom: 0.2%;
    padding-right: 1.5%;
    padding-left: 1.5%;
}

.itemFila>.itemColumna:first-child {
    border-left-width: 0;
}

.itemFila>.itemColumna-botones:last-child {
    border-right-width: 0;
}

.itemFila>.itemBotonFinalizar:last-child {
    border-right-width: 0;
}

.itemColumna {
    background-color: #f1eeee;
    padding-top: 10px;
    font-size: 14px;
    margin-bottom: 5px;
    border: 0;
    border-right-style: solid;
    border-right-width: 4px;
    border-right-color: #fafafa;
}

.itemFila>.itemColumnaHeader:first-child {
    border-left-width: 0;
}

.itemFila>.itemColumnaHeaderBotones:last-child {
    border-right-width: 0;
}

.itemFila>.itemBotonHeaderFinalizar:last-child {
    border-right-width: 0;
}

.itemColumnaHeader {
    background-color: #2c2c2c;
    border-color: #fafafa;
    color: white;
    padding-top: 10px;
    font-size: 14px;
    margin-bottom: 5px;
    border: 0;
    border-right-style: solid;
    border-right-width: 4px;
}

@media screen and (max-width: 768px) {
    .itemColumnaHeader {
        flex: 0 0 auto;
        width: 108px;
    }

    .itemColumna {
        flex: 0 0 auto;
        width: 108px;
    }
}